<!DOCTYPE html

<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/cloud-with-rain.svg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/cat.jpg"> 
        </div>

        {{>footer}}
    </body>
</html>